.whiteCell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #fff;
}

.blueCell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #03a8f4
    ;
}

.square {
    border: 1px solid black;
  }